@font-face {
  font-family: "Pretendard";
  src: url("/Pretendard/PretendardVariable.ttf") format("truetype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Pretendard", sans-serif;
}

html,
body {
  height: 100%;

  font-family: "Pretendard", sans-serif;
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  flex-shrink: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    outline-color: #3988ff;
  }
}

textarea {
  resize: none;
  &:focus {
    outline-color: #3988ff;
  }
}
